In [1]:
#データフレーム

In [2]:
using Pkg
Pkg.add("DataFrames")

   Updating registry at `~/.julia/registries/General`
######################################################################### 100.0%
  Resolving package versions...
No Changes to `~/.julia/environments/v1.5/Project.toml`
No Changes to `~/.julia/environments/v1.5/Manifest.toml`

In [3]:
using DataFrames

In [5]:
df = DataFrame(A=1:5, B=["Apple","Banana","Apple","banana","Orange"])

5×2 DataFrame
│ Row │ A     │ B      │
│     │ Int64 │ String │
├─────┼───────┼────────┤
│ 1   │ 1     │ Apple  │
│ 2   │ 2     │ Banana │
│ 3   │ 3     │ Apple  │
│ 4   │ 4     │ banana │
│ 5   │ 5     │ Orange │

In [6]:
df.A

5-element Array{Int64,1}:
 1
 2
 3
 4
 5

In [7]:
df.B

5-element Array{String,1}:
 "Apple"
 "Banana"
 "Apple"
 "banana"
 "Orange"

In [8]:
df."A"

5-element Array{Int64,1}:
 1
 2
 3
 4
 5

In [9]:
df = DataFrame()

0×0 DataFrame

In [11]:
df.AA=1:8

1:8

In [12]:
df.AA

8-element Array{Int64,1}:
 1
 2
 3
 4
 5
 6
 7
 8

In [13]:
df.BB=["A","B","C","D","E","F","G","H"]

8-element Array{String,1}:
 "A"
 "B"
 "C"
 "D"
 "E"
 "F"
 "G"
 "H"

In [14]:
df

8×2 DataFrame
│ Row │ AA    │ BB     │
│     │ Int64 │ String │
├─────┼───────┼────────┤
│ 1   │ 1     │ A      │
│ 2   │ 2     │ B      │
│ 3   │ 3     │ C      │
│ 4   │ 4     │ D      │
│ 5   │ 5     │ E      │
│ 6   │ 6     │ F      │
│ 7   │ 7     │ G      │
│ 8   │ 8     │ H      │

In [15]:
size(df)

(8, 2)

In [16]:
size(df,1)

8

In [17]:
size(df,2)

2

In [18]:
#データフレームの操作