# Lecture 10 DataFrame
reference: https://juliadata.github.io/DataFrames.jl/stable/man/getting_started/

using Pkg\
Pkg.add("DataFrames")

In [3]:
using DataFrames

In [7]:
df = DataFrame(A = 1:5, B = ["Apple", "Banana", "Apple", "Orange","Banana"])

5×2 DataFrame
│ Row │ A     │ B      │
│     │ Int64 │ String │
├─────┼───────┼────────┤
│ 1   │ 1     │ Apple  │
│ 2   │ 2     │ Banana │
│ 3   │ 3     │ Apple  │
│ 4   │ 4     │ Orange │
│ 5   │ 5     │ Banana │

In [8]:
df.A

5-element Array{Int64,1}:
 1
 2
 3
 4
 5

In [9]:
df.B

5-element Array{String,1}:
 "Apple"
 "Banana"
 "Apple"
 "Orange"
 "Banana"

In [10]:
df."A"

5-element Array{Int64,1}:
 1
 2
 3
 4
 5

In [11]:
df = DataFrame()

0×0 DataFrame

In [12]:
df.A = 1:8

1:8

In [13]:
df.A

8-element Array{Int64,1}:
 1
 2
 3
 4
 5
 6
 7
 8

In [14]:
df.B = ["A","B","C","D","E","F","G","H"]

8-element Array{String,1}:
 "A"
 "B"
 "C"
 "D"
 "E"
 "F"
 "G"
 "H"

In [15]:
df

8×2 DataFrame
│ Row │ A     │ B      │
│     │ Int64 │ String │
├─────┼───────┼────────┤
│ 1   │ 1     │ A      │
│ 2   │ 2     │ B      │
│ 3   │ 3     │ C      │
│ 4   │ 4     │ D      │
│ 5   │ 5     │ E      │
│ 6   │ 6     │ F      │
│ 7   │ 7     │ G      │
│ 8   │ 8     │ H      │

In [16]:
size(df)

(8, 2)

In [17]:
size(df,1) #行

8

In [18]:
size(df,2) #列

2

In [19]:
#型指定ができる
df = DataFrame(A = Int[], B = String[])

0×2 DataFrame

In [20]:
#行を追加する
push!(df, (1, "M"))

1×2 DataFrame
│ Row │ A     │ B      │
│     │ Int64 │ String │
├─────┼───────┼────────┤
│ 1   │ 1     │ M      │

In [22]:
#型の確認 
push!(df, (1, 1000)) #型があっていないと怒られる

┌ Error: Error adding value to column :B.
└ @ DataFrames /Users/satoshi/.julia/packages/DataFrames/cdZCk/src/dataframe/dataframe.jl:1606

LoadError: MethodError: Cannot `convert` an object of type Int64 to an object of type String
Closest candidates are:
  convert(::Type{String}, !Matched::CategoricalValue) at /Users/satoshi/.julia/packages/CategoricalArrays/0ZAbp/src/value.jl:60
  convert(::Type{T}, !Matched::T) where T<:AbstractString at strings/basic.jl:229
  convert(::Type{T}, !Matched::AbstractString) where T<:AbstractString at strings/basic.jl:230
  ...

In [20]:

#列の追加、列の削除、行の追加、行の削除
#列の選択 select
#列の名前変更　transform
#行の抽出に条件を入れる
#csv読み込み 前の章で使ったやつを読み込む
#統計量 statistics
#プロット？

In [30]:
#複数の列
df = DataFrame(A = 0:5:95, B = repeat(1:10, inner=2), C = 1:20)

20×3 DataFrame
│ Row │ A     │ B     │ C     │
│     │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────┼───────┤
│ 1   │ 0     │ 1     │ 1     │
│ 2   │ 5     │ 1     │ 2     │
│ 3   │ 10    │ 2     │ 3     │
│ 4   │ 15    │ 2     │ 4     │
│ 5   │ 20    │ 3     │ 5     │
│ 6   │ 25    │ 3     │ 6     │
│ 7   │ 30    │ 4     │ 7     │
│ 8   │ 35    │ 4     │ 8     │
│ 9   │ 40    │ 5     │ 9     │
│ 10  │ 45    │ 5     │ 10    │
│ 11  │ 50    │ 6     │ 11    │
│ 12  │ 55    │ 6     │ 12    │
│ 13  │ 60    │ 7     │ 13    │
│ 14  │ 65    │ 7     │ 14    │
│ 15  │ 70    │ 8     │ 15    │
│ 16  │ 75    │ 8     │ 16    │
│ 17  │ 80    │ 9     │ 17    │
│ 18  │ 85    │ 9     │ 18    │
│ 19  │ 90    │ 10    │ 19    │
│ 20  │ 95    │ 10    │ 20    │

In [31]:
#最初の確認
first(df, 3)

3×3 DataFrame
│ Row │ A     │ B     │ C     │
│     │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────┼───────┤
│ 1   │ 0     │ 1     │ 1     │
│ 2   │ 5     │ 1     │ 2     │
│ 3   │ 10    │ 2     │ 3     │

In [34]:
#最後の確認
last(df, 3)

3×3 DataFrame
│ Row │ A     │ B     │ C     │
│     │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────┼───────┤
│ 1   │ 85    │ 9     │ 18    │
│ 2   │ 90    │ 10    │ 19    │
│ 3   │ 95    │ 10    │ 20    │

In [36]:
#スライス
df[1:5, :]

5×3 DataFrame
│ Row │ A     │ B     │ C     │
│     │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────┼───────┤
│ 1   │ 0     │ 1     │ 1     │
│ 2   │ 5     │ 1     │ 2     │
│ 3   │ 10    │ 2     │ 3     │
│ 4   │ 15    │ 2     │ 4     │
│ 5   │ 20    │ 3     │ 5     │

In [38]:
#条件をつける
df[df.A .> 50, :]

9×3 DataFrame
│ Row │ A     │ B     │ C     │
│     │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────┼───────┤
│ 1   │ 55    │ 6     │ 12    │
│ 2   │ 60    │ 7     │ 13    │
│ 3   │ 65    │ 7     │ 14    │
│ 4   │ 70    │ 8     │ 15    │
│ 5   │ 75    │ 8     │ 16    │
│ 6   │ 80    │ 9     │ 17    │
│ 7   │ 85    │ 9     │ 18    │
│ 8   │ 90    │ 10    │ 19    │
│ 9   │ 95    │ 10    │ 20    │

In [40]:
#サマリー
describe(df)

3×8 DataFrame. Omitted printing of 1 columns
│ Row │ variable │ mean    │ min   │ median  │ max   │ nunique │ nmissing │
│     │ Symbol   │ Float64 │ Int64 │ Float64 │ Int64 │ Nothing │ Nothing  │
├─────┼──────────┼─────────┼───────┼─────────┼───────┼─────────┼──────────┤
│ 1   │ A        │ 47.5    │ 0     │ 47.5    │ 95    │         │          │
│ 2   │ B        │ 5.5     │ 1     │ 5.5     │ 10    │         │          │
│ 3   │ C        │ 10.5    │ 1     │ 10.5    │ 20    │         │          │

In [42]:
select(df, Not(:B))

20×2 DataFrame
│ Row │ A     │ C     │
│     │ Int64 │ Int64 │
├─────┼───────┼───────┤
│ 1   │ 0     │ 1     │
│ 2   │ 5     │ 2     │
│ 3   │ 10    │ 3     │
│ 4   │ 15    │ 4     │
│ 5   │ 20    │ 5     │
│ 6   │ 25    │ 6     │
│ 7   │ 30    │ 7     │
│ 8   │ 35    │ 8     │
│ 9   │ 40    │ 9     │
│ 10  │ 45    │ 10    │
│ 11  │ 50    │ 11    │
│ 12  │ 55    │ 12    │
│ 13  │ 60    │ 13    │
│ 14  │ 65    │ 14    │
│ 15  │ 70    │ 15    │
│ 16  │ 75    │ 16    │
│ 17  │ 80    │ 17    │
│ 18  │ 85    │ 18    │
│ 19  │ 90    │ 19    │
│ 20  │ 95    │ 20    │

In [ ]:
#名前を変える
select(df, :x1 => :a1, :x2 => :a2) # rename columns

In [41]:
#csv書き込み
#CSV.write("dataframe.csv", df)